@page "/"

@inherits FoodStuff


<img src="https://i.imgur.com/KaFC9Jd.png" alt="Undercooked Logo">

<h1>Welcome to Undercooked!</h1>
A simple restauraunt management system.

@if (ings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>IngredientID</th>
                <th>IngredientName</th>
                <th>Ingredient Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in ings)
            {
                <tr>
                    <td>@food.IngredientID</td>
                    <td>@food.IngredientName</td>
                    <td>@food.count</td>
                </tr>
            }
        </tbody>
    </table>
}
<button class="btn btn-primary" @onclick="PopulateList">See Inventory</button>
<br />
<br />Restock Amount
<br />
<input @bind="restockquant" @bind:event="oninput" type="number" />
<br />
<button class="btn btn-primary" @onclick="@Restock">Restock</button>
<br />
<br />
<button class="btn btn-primary" @onclick="@Dispose">Dispose</button>
<br />
<table class="table">
    <thead>
        <tr>
            <th>DishID</th>
            <th>Dish Name</th>
            <th>Price</th>
            <th>Time to Cook</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in dishes)
        {
            <tr>
                <td>@dish.DishID</td>
                <td>@dish.DishName</td>
                <td>@dish.Price</td>
                <td>@dish.Preptime</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" @onclick="PopulateDishes">See Dishes</button>
<br />
<input type="number" @bind="pricecheck" @bind:event="oninput" />
<button class="btn btn-primary" @onclick="expensiveIngredientDishes">Check Expensive Ingredients</button>
<br />
<input type="text" @bind="namecheck" @bind:event="oninput" />
<button class="btn btn-primary" @onclick="SearchDish">Find Dish</button>


